### Bank Products Recommender System

![Bank Recommendation System](../images/santander_logo.png)

This project is based on the Kaggle's competition from 2016 organized by Santander. In this competition, the participants are asked to recommend bank products to clients based on their 1.5 history purchase of products from the bank. For further information, visit [Santander Product Recommendation Competition](https://www.kaggle.com/competitions/santander-product-recommendation/overview).


The features contained in the datset are the following:

- **fecha_dato**: The table is partitioned for this column
- **ncodpers**: Customer code
- **ind_empleado**: Employee index: A active, B ex-employed, F filial, N not employee, P passive
- **pais_residencia**: Customer's country of residence
- **sexo**: Customer's sex
- **age**: Age
- **fecha_alta**: The date in which the customer became the first holder of a contract in the bank
- **ind_nuevo**: New customer index. 1 if the customer registered in the last 6 months.
- **antiguedad**: Customer seniority (in months)
- **indrel**: 1 (First/Primary), 99 (Primary customer during the month but not at the end of the month)
- **ult_fec_cli_1t**: Last date as primary customer (if not at the end of the month)
- **indrel_1mes**: Customer type at the beginning of the month: 1 (First/Primary customer), 2 (co-owner), P (Potential), 3 (former primary), 4 (former co-owner)
- **tiprel_1mes**: Customer relation type at the beginning of the month: A (active), I (inactive), P (former customer), R (Potential)
- **indresi**: Residence index (S (Yes) or N (No) if the residence country is the same as the bank country)
- **indext**: Foreigner index (S (Yes) or N (No) if the customer's birth country is different from the bank country)
- **conyuemp**: Spouse index. 1 if the customer is the spouse of an employee
- **canal_entrada**: Channel used by the customer to join
- **indfall**: Deceased index. N/S
- **tipodom**: Address type. 1, primary address
- **cod_prov**: Province code (customer's address)
- **nomprov**: Province name
- **ind_actividad_cliente**: Activity index (1, active customer; 0, inactive customer)
- **renta**: Gross income of the household
- **segmento**: Segmentation: 01 - VIP, 02 - Individuals, 03 - College graduates
- **ind_ahor_fin_ult1**: Saving Account
- **ind_aval_fin_ult1**: Guarantees
- **ind_cco_fin_ult1**: Current Accounts
- **ind_cder_fin_ult1**: Derivada Account
- **ind_cno_fin_ult1**: Payroll Account
- **ind_ctju_fin_ult1**: Junior Account
- **ind_ctma_fin_ult1**: MÃ¡s particular Account
- **ind_ctop_fin_ult1**: Particular Account
- **ind_ctpp_fin_ult1**: Particular Plus Account
- **ind_deco_fin_ult1**: Short-term deposits
- **ind_deme_fin_ult1**: Medium-term deposits
- **ind_dela_fin_ult1**: Long-term deposits
- **ind_ecue_fin_ult1**: E-account
- **ind_fond_fin_ult1**: Funds
- **ind_hip_fin_ult1**: Mortgage
- **ind_plan_fin_ult1**: Pensions
- **ind_pres_fin_ult1**: Loans
- **ind_reca_fin_ult1**: Taxes
- **ind_tjcr_fin_ult1**: Credit Card
- **ind_valo_fin_ult1**: Securities
- **ind_viv_fin_ult1**: Home Account
- **ind_nomina_ult1**: Payroll
- **ind_nom_pens_ult1**: Pensions
- **ind_recibo_ult1**: Direct Debit

### 0 Global Config

In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from recommenders import utils

ModuleNotFoundError: No module named 'recommenders'

In [4]:
COL_FECHA_DATO = "fecha_dato"
COL_NCODPERS = "ncodpers"
COL_IND_EMPLEADO = "ind_empleado"
COL_PAIS_RESIDENCIA = "pais_residencia"
COL_SEXO = "sexo"
COL_AGE = "age"
COL_FECHA_ALTA = "fecha_alta"
COL_IND_NUEVO = "ind_nuevo"
COL_ANTIGUEDAD = "antiguedad"
COL_INDREL = "indrel"
COL_ULT_FEC_CLI_1T = "ult_fec_cli_1t"
COL_INDREL_1MES = "indrel_1mes"
COL_TIPREL_1MES = "tiprel_1mes"
COL_INDRESI = "indresi"
COL_INDEXT = "indext"
COL_CONYUEMP = "conyuemp"
COL_CANAL_ENTRADA = "canal_entrada"
COL_INDFALL = "indfall"
COL_TIPODOM = "tipodom"
COL_COD_PROV = "cod_prov"
COL_NOMPROV = "nomprov"
COL_IND_ACTIVIDAD_CLIENTE = "ind_actividad_cliente"
COL_RENTA = "renta"
COL_SEGMENTO = "segmento"
COL_IND_AHOR_FIN_ULT1 = "ind_ahor_fin_ult1"
COL_IND_AVAL_FIN_ULT1 = "ind_aval_fin_ult1"
COL_IND_CCO_FIN_ULT1 = "ind_cco_fin_ult1"
COL_IND_CDER_FIN_ULT1 = "ind_cder_fin_ult1"
COL_IND_CNO_FIN_ULT1 = "ind_cno_fin_ult1"
COL_IND_CTJU_FIN_ULT1 = "ind_ctju_fin_ult1"
COL_IND_CTMA_FIN_ULT1 = "ind_ctma_fin_ult1"
COL_IND_CTOP_FIN_ULT1 = "ind_ctop_fin_ult1"
COL_IND_CTPP_FIN_ULT1 = "ind_ctpp_fin_ult1"
COL_IND_DECO_FIN_ULT1 = "ind_deco_fin_ult1"
COL_IND_DEME_FIN_ULT1 = "ind_deme_fin_ult1"
COL_IND_DELA_FIN_ULT1 = "ind_dela_fin_ult1"
COL_IND_ECUE_FIN_ULT1 = "ind_ecue_fin_ult1"
COL_IND_FOND_FIN_ULT1 = "ind_fond_fin_ult1"
COL_IND_HIP_FIN_ULT1 = "ind_hip_fin_ult1"
COL_IND_PLAN_FIN_ULT1 = "ind_plan_fin_ult1"
COL_IND_PRES_FIN_ULT1 = "ind_pres_fin_ult1"
COL_IND_RECA_FIN_ULT1 = "ind_reca_fin_ult1"
COL_IND_TJCR_FIN_ULT1 = "ind_tjcr_fin_ult1"
COL_IND_VALO_FIN_ULT1 = "ind_valo_fin_ult1"
COL_IND_VIV_FIN_ULT1 = "ind_viv_fin_ult1"
COL_IND_NOMINA_ULT1 = "ind_nomina_ult1"
COL_IND_NOM_PENS_ULT1 = "ind_nom_pens_ult1"
COL_IND_RECIBO_ULT1 = "ind_recibo_ult1"
COL_FINANCIAL_PRODS = "financial_products"

In [5]:
# Define paths for caching and training data
# CACHE_PATH = '../.cache/'
TRAIN_DATA_PATH = '../data/train_ver2.csv'
TEST_DATA_PATH = '../data/test_ver2.csv'
# # Configure random state for reproducibility
# RANDOM_STATE = 0
# # Setup dataset parameters for testing and shuffling
# SHUFFLE = True
# TEST_SIZE = 0.2
# TARGET = "SalePrice"
# # Parameters for pipeline configurations
# CV = 5
# SCORING = "neg_mean_squared_error"
# PARAM_GRID = {
#     "regressor__max_depth": [12, 15, 18, 21],
#     "regressor__n_estimators": [150, 200, 250, 300],
# }
# Configure pandas display settings
pd.options.display.max_rows = None
pd.options.display.max_columns = None

### 01 Read data

In [6]:
train_data = pd.read_csv(TRAIN_DATA_PATH)
test_data = pd.read_csv(TEST_DATA_PATH)

C:\Users\Nacho\AppData\Local\Temp\ipykernel_7972\1721981904.py:1: DtypeWarning: Columns (5,8,11,15) have mixed types. Specify dtype option on import or set low_memory=False.
  train_data = pd.read_csv(TRAIN_DATA_PATH)
C:\Users\Nacho\AppData\Local\Temp\ipykernel_7972\1721981904.py:2: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  test_data = pd.read_csv(TEST_DATA_PATH)

In [7]:
train_data.head()

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,ult_fec_cli_1t,indrel_1mes,tiprel_1mes,indresi,indext,conyuemp,canal_entrada,indfall,tipodom,cod_prov,nomprov,ind_actividad_cliente,renta,segmento,ind_ahor_fin_ult1,ind_aval_fin_ult1,ind_cco_fin_ult1,ind_cder_fin_ult1,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_ctma_fin_ult1,ind_ctop_fin_ult1,ind_ctpp_fin_ult1,ind_deco_fin_ult1,ind_deme_fin_ult1,ind_dela_fin_ult1,ind_ecue_fin_ult1,ind_fond_fin_ult1,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,2015-01-28,1375586,N,ES,H,35,2015-01-12,0.0,6,1.0,NaN,1.0,A,S,N,NaN,KHL,N,1.0,29.0,MALAGA,1.0,87218.10,02 - PARTICULARES,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
1,2015-01-28,1050611,N,ES,V,23,2012-08-10,0.0,35,1.0,NaN,1.0,I,S,S,NaN,KHE,N,1.0,13.0,CIUDAD REAL,0.0,35548.74,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
2,2015-01-28,1050612,N,ES,V,23,2012-08-10,0.0,35,1.0,NaN,1.0,I,S,N,NaN,KHE,N,1.0,13.0,CIUDAD REAL,0.0,122179.11,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
3,2015-01-28,1050613,N,ES,H,22,2012-08-10,0.0,35,1.0,NaN,1.0,I,S,N,NaN,KHD,N,1.0,50.0,ZARAGOZA,0.0,119775.54,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
4,2015-01-28,1050614,N,ES,V,23,2012-08-10,0.0,35,1.0,NaN,1.0,A,S,N,NaN,KHE,N,1.0,50.0,ZARAGOZA,1.0,NaN,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0

In [8]:
train_data.describe()

,ncodpers,ind_nuevo,indrel,tipodom,cod_prov,ind_actividad_cliente,renta,ind_ahor_fin_ult1,ind_aval_fin_ult1,ind_cco_fin_ult1,ind_cder_fin_ult1,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_ctma_fin_ult1,ind_ctop_fin_ult1,ind_ctpp_fin_ult1,ind_deco_fin_ult1,ind_deme_fin_ult1,ind_dela_fin_ult1,ind_ecue_fin_ult1,ind_fond_fin_ult1,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
count,1.364731e+07,1.361958e+07,1.361958e+07,13619574.0,1.355372e+07,1.361958e+07,1.085293e+07,1.364731e+07,1.364731e+07,1.364731e+07,1.364731e+07,1.364731e+07,1.364731e+07,1.364731e+07,1.364731e+07,1.364731e+07,1.364731e+07,1.364731e+07,1.364731e+07,1.364731e+07,1.364731e+07,1.364731e+07,1.364731e+07,1.364731e+07,1.364731e+07,1.364731e+07,1.364731e+07,1.364731e+07,1.363125e+07,1.363125e+07,1.364731e+07
mean,8.349042e+05,5.956184e-02,1.178399e+00,1.0,2.657147e+01,4.578105e-01,1.342543e+05,1.022912e-04,2.315475e-05,6.554837e-01,3.939238e-04,8.086722e-02,9.474175e-03,9.726606e-03,1.290083e-01,4.330583e-02,1.778739e-03,1.660987e-03,4.296679e-02,8.274357e-02,1.848599e-02,5.886582e-03,9.170965e-03,2.627404e-03,5.253636e-02,4.438868e-02,2.560761e-02,3.847718e-03,5.472434e-02,5.942854e-02,1.279162e-01
std,4.315650e+05,2.366733e-01,4.177469e+00,0.0,1.278402e+01,4.982169e-01,2.306202e+05,1.011340e-02,4.811883e-03,4.752103e-01,1.984361e-02,2.726311e-01,9.687320e-02,9.814275e-02,3.352091e-01,2.035447e-01,4.213757e-02,4.072135e-02,2.027823e-01,2.754942e-01,1.347006e-01,7.649791e-02,9.532502e-02,5.119083e-02,2.231060e-01,2.059571e-01,1.579616e-01,6.191053e-02,2.274414e-01,2.364250e-01,3.339965e-01
min,1.588900e+04,0.000000e+00,1.000000e+00,1.0,1.000000e+00,0.000000e+00,1.202730e+03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,4.528130e+05,0.000000e+00,1.000000e+00,1.0,1.500000e+01,0.000000e+00,6.871098e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,9.318930e+05,0.000000e+00,1.000000e+00,1.0,2.800000e+01,0.000000e+00,1.018500e+05,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,1.199286e+06,0.000000e+00,1.000000e+00,1.0,3.500000e+01,1.000000e+00,1.559560e+05,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,1.553689e+06,1.000000e+00,9.900000e+01,1.0,5.200000e+01,1.000000e+00,2.889440e+07,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00

### 02 Data Analysis
In order to make a statistical analysis of the dataset, it is necessary to convert the one hot encoding of each financial product (items) to a single column with each financial products a user has.

In [9]:
def one_hot_to_labels(df, start_idx, new_col_name):
    # Get the columns from the specified index to the end
    one_hot_columns = df.columns[start_idx:]
    
    # Create a new column with concatenated labels
    df[new_col_name] = df[one_hot_columns].apply(
        lambda row: ' '.join([col for col, val in row.items() if val == 1]),
        axis=1
    )
    
    return df

train_data_transformed = one_hot_to_labels(train_data, start_idx=24, new_col_name='financial_products')

In [ ]:
train_data_transformed.head()

In [ ]:
train_data_transformed = train_data_transformed.drop(columns=train_data_transformed.columns[25:47])

I'm going to select a certain user for further exploration

In [ ]:
train_data_transformed[train_data_transformed[COL_NCODPERS] == 1375586].head(5)

As it is shown in the display above of the selection over the dataframe, for a certain client appears multiple rows, where **'fecha_dato'** constantly changes and there are changes in products aquired by the client. Due to this, it is necessary to observe the distribution of client's history purchase of products, so that we can notice the cases where we got a [Cold Start Problem](https://en.wikipedia.org/wiki/Cold_start_(recommender_systems)).

In [ ]:
def count_value_occurrences_as_dataframe(dataframe, field_name):
    """
    Returns a DataFrame with unique values and their counts from the specified field.

    Parameters:
    dataframe (pd.DataFrame): The pandas DataFrame to analyze.
    field_name (str): The name of the column to count unique values for.

    Returns:
    pd.DataFrame: A DataFrame with two columns: 'Value' and 'Count'.
    """
    if field_name in dataframe.columns:
        value_counts = dataframe[field_name].value_counts().reset_index()
        value_counts.columns = [field_name, 'count']
        return value_counts
    else:
        raise KeyError(f"Field '{field_name}' not found in the DataFrame.")


users_history_count = count_value_occurrences_as_dataframe(train_data_transformed, COL_NCODPERS)

In [ ]:
# Count the occurrences of each value in the column
value_counts = users_history_count['count'].sort_values(ascending=True).value_counts()

# Create a bar chart
plt.figure(figsize=(8, 6))
value_counts.plot(kind='bar')
plt.title('Count of Client\'s history products')
plt.xlabel('History products')
plt.ylabel('Count')
plt.xticks(rotation=0)
plt.show()

In [ ]:
print(
    # "Total number of ratings are:\t{}".format(train_data_transformed.shape[0]),
    "Total number of users are:\t{}".format(train_data_transformed[COL_NCODPERS].nunique()),
    # "Total number of items are:\t{}".format(train_data_transformed[COL_FINANCIAL_PRODS].nunique()),
    "Total number of count history for userinteractions with products"    sep="\n"
)